{% extends "base.html" %}

{% block content %}
<div class=" col-md-9 col-md-push-2 col-xs-12">
    <div class="row">
    {% for activity in activities %}
        <div>
            <p><h1><a href="{% url "activity_detail" activity.id %}">{{ activity.name }}</a></h1></p>
            <p>
                {% for media in activity.media_set.all %}
                    <p><br><img src="{{ media }}"></p>
                {% endfor %}
            </p><br>
            <p>Açıklaması : {{ activity.description }}</p><br>
            <p>Kategorisi : {{ activity.category }}<br><hr></p>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
{% block js %}
<script>
$('#like').on('click', function (event) {
    $.getJSON(
        $("#like").attr('href'),
        function (response) {
            $('#like-count').html(response.count);

            if (response.action === 'like') {
                $('#like').html('Beğenmekten vazgeç');
            } else {
                $('#like').html('Beğen');
            }
        }
    );
    event.preventDefault();
});
</script>

{% endblock %}