{% extends "base.html" %}

{% block content %}

    {% for activity in activities %}
        <div>
            <p><h1><a href="{% url "activity_detail" activity.id %}">{{ activity.name }}</a></h1></p>
            <p>Açıklaması : {{ activity.description }}</p>
            <p>Açıklaması : {{ activity.description }}</p>
            <p>Kategorisi : {{ activity.category }}<br><hr></p>
        </div>
    {% endfor %}

{% endblock %}

{% block js %}
<script>
$('#like').on('click', function (event) {
    $.getJSON(
        $("#like").attr('href'),
        function (response) {
            $('#like-count').html(response.count);

            if (response.action === 'like') {
                $('#like').html('Beğenmekten vazgeç');
            } else {
                $('#like').html('Beğen');
            }
        }
    );
    event.preventDefault();
});
</script>

{% endblock %}