{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="tr" xml:lang="tr">
<head>
	<title>{% block title %}Velespi{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@0.7.7/dist/leaflet.css" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="header">
          <div class="container-fluid">
              <a class="navbar-brand" href="{% url "index" %}"> <img style="    width: 50px;
    margin: auto;" class="user-image" src="/static/images/logo.svg"/>
              <h3><b>VELESPİ</b></h3></a>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <form class="navbar-form navbar-header">
                  <div class="form-group" style="margin-left: 300px">
                  <input type="text" class="form-control"  placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
              </form>
              <div class="nav navbar-nav navbar-right">
                  {% if user.is_authenticated %}
                    <a class="navbar-brand" href="{% url "activity" %}">Etkinlikler</a>
                    <a class="navbar-brand"  href="{% url "new_activity" %}">Etkinlik Ekle</a>
                      <a class="navbar-brand" href="{% url "new_place" %}">Yer Ekle</a>
                      <ul class="navbar-brand">
                          <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  ( {{ user }} )</a>
                              <ul class="dropdown-menu">
                                  <li   align="center">
                                    <img alt="User Image" class="user-image" src="/static/images/userE.png" style="width:60%;"/>
                                  </li>
                                  <li align="center"><a  href="{% url "logout" %}">Çıkış yap ({{ user }})</a></li>
                              </ul>
                          </li>
                      </ul>
                  {% elif not user.is_authenticated %}
                  <a class="navbar-brand" href="{% url "index" %}">Anasayfa</a>
                  <a class="navbar-brand" href="{% url "activity" %}">Etkinlikler</a>

                              <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Giriş Yap</b> <span class="caret"></span></a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
					 <div class="row">
							<div class="col-md-12">

								 <form action="{% url "login" %}" method="post">
                                     {% csrf_token %}
										<div class="form-group">
											 <label class="sr-only" for="exampleInputEmail2">Email address</label>
											 <input type="text" name="username" title="Lütfen işaretli yerleri doldurunuz" class="form-control" id="exampleInputEmail2" placeholder="Kullanıcı Adı" required>
										</div>
										<div class="form-group">
											 <label class="sr-only" for="exampleInputPassword2">Password</label>
											 <input type="password" title="Lütfen işaretli yerleri doldurunuz" name="password"  class="form-control" id="exampleInputPassword2" placeholder="Şifre" required>

										</div>
										<div class="form-group">
											 <button type="submit" class="btn btn-primary btn-block">Giriş</button>
										</div>
								 </form>
							</div>
							<div class="bottom text-center">
								Üye Degil misin? <a href="{% url "register" %}"><b>Üye ol</b></a>
							</div>
					 </div>
				</li>
			</ul>
        </li>
                  {% endif %}
              </div>
              </div>
          </div>
        </div>
        <div class="top-nav">
            <nav class="clearfix">
                <ul>
                    <li><a class="active" href="/">Anasayfa</a></li>
                    <li><a href="{% url "activity" %}">Etkinlikler</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url "new_activity" %}">Yeni Etkinlik Ekle</a></li>
                        <li><a href="{% url "new_place" %}">Yeni Yer Ekle</a></li>
                        <li><a href="{% url "logout" %}">Çıkış Yap</a></li>
                    {% elif not user.is_authenticated %}
                        <a href="{% url "register" %}">Kayıt</a>
                        <a href="{% url "login" %}">Giriş</a>
                    {% endif %}
                </ul>
                <a href="#" id="pull">Menu</a>
            </nav>
        </div>
        </div>
    </nav>

    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="content">
            {% block content %}
                PLACEHOLDER
            {% endblock %}
        </div>
    </div>
    <div class="footer_bg">
        <div class="wrap">
            <div class="footer">
                <div class="copy">
                    <ul><a class="icon1" href="{% url "index" %}">Velespi Bisiklet ve Dağcılık Sosyal Ağı </a></ul>
                </div>
                <div class="f_nav">
                    <ul>
                        <li><a href="{% url "index" %}">Anasayfa</a></li>
                        <li><a href="activity">Etkinlikler</a></li>
                        <li><a href="{% url "new_place" %}">Yeni Yer Ekle</a></li>
                        <li><a href="#  ">İletişim</a></li>
                    </ul>
                </div>
                <div class="soc_icons">
                    <ul>
                        <li><a class="icon1" href="#"></a></li>
                        <li><a class="icon2" href="#"></a></li>
                        <li><a class="icon3" href="#"></a></li>
                        <li><a class="icon4" href="#"></a></li>
                        <li><a class="icon5" href="#"></a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="https://npmcdn.com/leaflet@0.7.7/dist/leaflet.js"></script>
    {% block js %}
    {% endblock %}
</body>
</html>