{% extends "base.html" %}

{% block content %}

        <div class="wrap">
            <div class="main">
                <div class="contact">
                    <div class="contact_left">
                        <div class="contact-form">
                            <div class="panel-form">
                                <form action="" method="post" enctype="multipart/form-data">
                                    <h3>Yeni Etkinlik Oluşturma</h3>
                                    <div class="form-enterances ">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact_right">
                        <div class="contact-form">
                            <h3>Rota Belirlemede Yararlanabilirsiniz</h3>
                            <div id="map"></div>
                        </div>
                        <div class="form_submit">
					        <input class="btn btn-default btn-lg" type="submit"/>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
var map = L.map('map').setView([40.705601,31.678499], 3);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

var marker;

</script>
{% endblock %}